table {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}
th {
    cursor: pointer;
}
li:hover {
	cursor: pointer;
}
.active {
	background-color: skyblue;
	color: white;
}
.sort-active {
	color: skyblue;
}
.form-group {
	margin-top: 5px;
}
#maxRows {
	width: 12%;
}